<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
  <meta name="keywords" content="剑网三交易,剑网3,剑网三,剑网三账号,剑三金币">
  <meta name="discription" content="剑三交易快速搜索">
  <title>用户中心-爱剑三</title>
  <link rel="icon" th:href="@{/dist/css/icon.ico}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" th:href="@{/dist/css/jx3/base.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/dist/css/jx3/drop.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/dist/css/jx3/user.css}">
  <script th:src="@{/dist/js/jx3/jquery.js}"></script>
  <script th:src="@{/dist/js/jx3/bt.js}"></script>
  <script th:src="@{/dist/js/jx3/base.js}"></script>
  <script th:src="@{/dist/js/jx3/dropdown.js}"></script>
    <script th:src="@{/dist/js/layer/layer.js}"></script>
    <script th:src="@{/dist/js/page/utils.js}"></script>
    <script th:src="@{/dist/js/page/accountTransaction.js}"></script>
</head>

<body>
<!-- top logo -->
<div class="topLogo"><img th:src="@{/dist/css/images/jx3/logo_2.png}" /></div><div class="contactUs" style="position: absolute;top: 6px;right: 100px">   <h4>咨询客服：824460354，3032254434</h4> <h4>咨询外观：823515253</h4> <h4>QQ群号：296733805</h4></div>
<div id="userName" style="display: none">[[${#httpServletRequest.remoteUser}]]</div>
<!-- navigation -->
<div class="navCon">
  <div class="nav"><a href="index">首页</a><a href="accountList">账号搜索</a><a href="appearanceSale">外观搜索</a><a href="propSale" class="cur">道具搜索</a><!-- <a href="goldExchangeList">金币收售</a> --><a href="levelingList">代练代打</a><a href="blackList">剑三黑榜</a><a href="dataAndSecurity">用户中心</a><a class="last" href="dataAndSecurity">登录 / 注册</a><a id="userDetails" href="javascript:void(0)" style="display: none">[[${#httpServletRequest.remoteUser}]]</a><a href="javascript:void(0)" id="exitUser" style="display: none;">            <form th:action="@{/logout}" method="post">                <input type="submit" class="btn btn-primary exit" value="退出"/>            </form>        </a>        <img class="gift" th:src="@{/dist/css/images/jx3/gift.png}"></div>
</div>
<div id="maincontent">
  <div id="mcon"> 
    <!-- usercon -->
    <div class="usercon input1">
      <div class="tb">
        <div class="tr">
          <div class="td menue"> <img th:src="@{/dist/css/images/jx3/uctop.png}" />
            <div class="menuelist">
              <dt>我的服务</dt>
              <dd><a href="dataAndSecurity.html">资料与安全</a></dd>
              <dd><a href="myCollection.html">我的收藏</a></dd>
              <dd><a href="myRelease.html">我的发布</a></dd>


              <dt>我要发布</dt>
              <dd><a href="report.html">我要举报</a></dd>
              <dd><a href="appearanceTransaction.html">外观发布</a></dd>
             <dd><a href="propTransaction.html">道具发布</a></dd>
              <!-- <dd><a href="propTransaction.html">道具交易</a></dd> -->
              <dd><a href="accountExchange.html">代练代打</a></dd>
              <dd><a href="quickRelease.html">账号收售快速发布</a></dd>
              <!--<dd><a href="detailRelease.html">账号收售详细发布</a></dd>-->
              <dt>后台管理</dt>
              <dd><a href="userList.html">用户管理</a></dd>
              <dd><a href="userManage.html">功能权限设置</a></dd>
              <dd><a href="userservice.html">用户查看权限管理</a></dd>

              <dd><a href="userimgs.html">图文管理</a></dd>
            </div>
          </div>
          <div class="td">
            <div class="rightcon">
              <div class="title">
                <div class="ht">金币交易</div>
              </div>
              <div class="alert alert-warning">
                <a href="#" class="close" data-dismiss="alert">
                  &times;
                </a>
                <strong>温馨提示：</strong>单次仅可发布一条金币交易消息。
              </div>
              <table class="mt15">
                <tr>
                  <td align="right" class="wr ft1">交易类型：</td>
                  <td><ul class="nav nav-pills w250">
                    <li class="dropdown all-camera-dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">收购<b class="caret"></b> </a>
                      <ul class="dropdown-menu">
                        <li data-filter-camera-type="all"><a data-toggle="tab" href="#" value="1">收购</a></li>
                        <li data-filter-camera-type="Alpha"><a data-toggle="tab" href="#" value="2">出售</a></li>
                      </ul>
                    </li>
                  </ul></td>
                  <td align="right" class="wr ft1"></td>
                  <td></td>
                  <td align="right" class="wr ft1"></td>
                  <td></td>
                  <td align="right" class="wr ft1"></td>
                  <td></td>
                </tr>
                <tr>
                <td align="right" class="wr ft1">区服：</td>
                  <td onLoad="setup()" style="margin:0">
                    <form name="frm" class="areaSelect">
                      <select style="width: 100px;" id="pre" onchange="chg(this);">
                        <option value="-1">请选择</option>
                      </select>
                      <select style="width: 100px;" id="city" onchange="chg2(this)" ;>
                        <option value="-1">请选择</option>
                      </select>
                      <select style="width: 100px;" id="area">
                        <option value="-1">请选择</option>
                      </select>
                </tr>
                <tr>
                  <td align="right" class="wr ft1">金币总量：</td>
                  <td colspan="7"><input class="w250" id="goldTotal" type="text" value="" />(单位：金)&nbsp;&nbsp;&nbsp;<font size="3" id="msg1" color="red">*</font></td>
                </tr>
                <tr>
                  <td align="right" class="wr ft1">单价：</td>
                  <td colspan="7"><input class="w250" id="unitPrice" type="text" value="" />(单位：G/R)&nbsp;&nbsp;&nbsp;<font size="3" id="msg2" color="red">*</font></td>
                </tr>
                <tr>
                  <td align="right" class="wr ft1">是否可以拆分：</td>
                  <td colspan="7"><form action="sava.php" method="post">
                    <input type="radio" name="ifSplit" value="0" />
                    <lable>否</lable>
                    <input type="radio" name="ifSplit" value="1" checked/>
                    <lable>是</lable>
                  </form></td>
                </tr>
                <tr>
                 <td align="right" class="wr ft1">其他说明：</td>
                 <td colspan="7"><textarea class="w250" id="favorInfo" rows="7" placeholder="如：可小刀、不刀、先钱、走支付宝等。" /></textarea></td>
                </tr>
                
                
                <tr>
                 <td align="right" class="wr ft1"></td>
                 <td colspan="7"><span id="save" class="codebtn">发布</span>　<span id="upedit" class="codebtn">修改</span>　<!--<span id="preview" -class="codebtn">预览</span>　<span id="cancel" class="codebtn">取消</span>--></td>
                </tr>

              </table>
              <div>
                （若您未在个人资料中填写QQ号，其他用户将无法根据您所发布的信息联系到您。）
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- foot -->
<div class="footcontent"><a href="aboutUs">关于我们</a> | <a href="servicePetorl">服务协议</a> | <a href="questions">常见问题</a><br>
  Powered by 爱剑三  © 2014-2018 Inc.       鄂ICP备17024657号 </div>
<!-- /.modal -->
</body>

<script type="text/javascript">
$().ready(function(e) {
	var typeid=''
    $(".s_top ul li").click(function(){
		$(".s_top ul li").removeClass('cur');
		$(this).addClass('cur')
	})
	$(".icon1").click(function(){
		$(this).parents('li').remove()
	})
    $(".nav-pills ul li").click(function(){
      var sefont=$(this).find('a').text();
      $(this).parents('.nav-pills').find('.dropdown-toggle').html(sefont+'<b class="caret"></b>')
    });
});
</script>
</html>
