<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="keywords" content="剑网三交易,剑网3,剑网三,剑网三账号,剑三金币">
    <meta name="discription" content="剑三交易快速搜索">
    <title>用户中心-爱剑三</title>
    <link rel="icon" th:href="@{/dist/css/icon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/jx3/base.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/jx3/drop.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/jx3/user.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/js/jx3/select2/select2.min.css}">
    <!-- datetimepicker -->
    <link th:href="@{/dist/js/jx3/datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet" />
    <link th:href="@{/dist/js/jx3/datetimepicker/jquery-ui-timepicker-addon.css}" rel="stylesheet" />
    <script th:src="@{/dist/js/jx3/jquery.js}"></script>
    <script th:src="@{/dist/js/jx3/bt.js}"></script>
    <script th:src="@{/dist/js/jx3/base.js}"></script>
    <script th:src="@{/dist/js/jx3/dropdown.js}"></script>
    <script th:src="@{/dist/js/jx3/select2/select2.full.min.js}"></script>
    <!-- datetimepicker -->
    <script th:src="@{/dist/js/jx3/datetimepicker/bootstrap-datetimepicker.min.js}"></script>
    <script th:src="@{/dist/js/jx3/datetimepicker/bootstrap-datetimepicker.zh-CN.js}"></script>
    <script th:src="@{/dist/js/layer/layer.js}"></script>
    <script th:src="@{/dist/js/page/utils.js}"></script>
    <script th:src="@{/dist/js/page/appearancePrice.js}"></script>
</head>

<body>
<style>
    .title>div{
        float: left;
        margin-left: 10px;
        cursor: pointer;
    }
    .ht.cur{
        background-color: #428bef;
    }
    .tableType2,.tableType3,.tableType4{
        display: none;
    }
    .trType3{
        display: none;
    }
</style>
<!-- top logo -->
<div class="topLogo"><img th:src="@{/dist/css/images/jx3/logo_2.png}" /></div><div class="contactUs" style="position: absolute;top: 6px;right: 100px">   </div>
<div id="userName" style="display: none">[[${#httpServletRequest.remoteUser}]]</div>
<!-- navigation -->
<div class="navCon">
    <div class="nav"><a href="index">首页</a><a href="accountList">账号搜索</a><a href="appearanceSale">外观搜索</a><a href="propSale" class="cur">道具搜索</a><!-- <a href="goldExchangeList">金币收售</a> --><a href="levelingList">代练代打</a><a href="blackList">剑三黑榜</a><a href="quickRelease">用户中心</a><a class="last" href="dataAndSecurity">登录 / 注册</a><a id="userDetails" href="javascript:void(0)" style="display: none">[[${#httpServletRequest.remoteUser}]]</a><a href="javascript:void(0)" id="exitUser" style="display: none;">            <form th:action="@{/logout}" method="post">                <input type="submit" class="btn btn-primary exit" value="退出"/>            </form>        </a>        <img class="gift" th:src="@{/dist/css/images/jx3/gift.png}"></div>
</div>

<div id="maincontent">
    <div id="mcon">
        <!-- usercon -->
        <div class="usercon input1">
            <div class="tb">
                <div class="tr">
                    <div class="td menue"> <img th:src="@{/dist/css/images/jx3/uctop.png}" />
                        <div class="menuelist">
                            <dt>我的服务</dt>
                            <dd><a href="dataAndSecurity.html">资料与安全</a></dd>
                            <dd><a href="myCollection.html">我的收藏</a></dd>
                            <dd><a href="myRelease.html">我的发布</a></dd>


                            <dt>我要发布</dt>
                            <dd><a href="report.html">我要举报</a></dd>
                            <dd><a href="appearanceTransaction.html">外观发布</a></dd>
                            <dd><a href="propTransaction.html">道具发布</a></dd>
                            <!-- <dd><a href="propTransaction.html">道具交易</a></dd> -->
                            <dd><a href="accountExchange.html">代练代打</a></dd>
                            <dd><a href="quickRelease.html">账号收售快速发布</a></dd><dd><a href="appearancePrice.html">外观价格发布</a></dd>
                            <!--<dd><a href="detailRelease.html">账号收售详细发布</a></dd>-->
                            <dt>后台管理</dt>
                            <dd><a href="userList.html">用户管理</a></dd>
                            <dd><a href="userManage.html">功能权限设置</a></dd>
                            <dd><a href="userservice.html">用户查看权限管理</a></dd>

                            <dd><a href="userimgs.html">图文管理</a></dd>
                        </div>
                    </div>
                    <div class="td">
                        <div class="rightcon">
                            <div class="title">
                                <div class="ht type1 cur">单个外观成交价格</div>
                                <!--<div class="ht type2">批量外观成交价格</div>-->
                                <div class="ht type3">单个外观市价参考</div>
                                <!--<div class="ht type4">批量外观市价参考</div>-->
                            </div>
                            <div class="alert alert-warning">
                                <a href="#" class="close" data-dismiss="alert">
                                    &times;
                                </a>
                                <strong>温馨提示：</strong>可发布一条或多条外观价格消息。
                            </div>
                            <table class="mt15 tableType1">
                                <tr>
                                    <td align="right" class="wr ft1">区服：</td>
                                    <td onLoad="setup()" style="margin:0">
                                        <form name="frm" class="areaSelect">
                                            <select style="width: 100px;" id="pre" onchange="chg(this);">
                                                <option value="-1">请选择</option>
                                            </select>
                                            <select style="width: 100px;" id="city" onchange="chg2(this)" ;>
                                                <option value="-1">请选择</option>
                                            </select>
                                            <select style="width: 100px;" id="area">
                                                <option value="-1">请选择</option>
                                            </select>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" class="wr ft1">外观名：</td>
                                    <td colspan="7">
                                        <input class="w250" id="viewName1"  type="text" value=""/>
                                        &nbsp;&nbsp;&nbsp;<font size="3" id="msg1" color="red">*</font>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" class="wr ft1">成交价格：</td>
                                    <td colspan="7"><input class="w250" id="priceNum1" type="text" value="" />&nbsp;&nbsp;&nbsp;<font size="3" id="msg1" color="red">*</font></td></td>
                                </tr>
                                <tr>
                                    <td align="right" class="wr ft1">成交时间：</td>
                                    <td colspan="7"><input class="w250" id="favorDate1" type="text" value="" />&nbsp;&nbsp;&nbsp;<font size="3" id="msg1" color="red">*</font></td>
                                </tr>
                                <tr>
                                    <td align="right" class="wr ft1"></td>
                                    <td colspan="7"><span id="save1" class="codebtn">发布</span></td>
                                </tr>
                            </table>
                            <table class="mt15 tableType2">
                                <tr>
                                    <td align="right" class="wr ft1"></td>
                                    <td colspan="7"><span id="save2" class="codebtn">发布</span></td>
                                </tr>
                            </table>
                            <table class="mt15 tableType3">
                                <tr>
                                    <td align="right" class="wr ft1">区服：</td>
                                    <td colspan="7" class="qufu">
                                        <span><i class="icon0"></i>电点</span>
                                        <span><i class="icon0"></i>电月</span>
                                        <span><i class="icon0"></i>双点</span>
                                        <span><i class="icon0"></i>双月</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" class="wr ft1">外观名：</td>
                                    <td colspan="7">
                                        <input class="w250" id="viewName3"  type="text" value=""/>
                                        &nbsp;&nbsp;&nbsp;<font size="3" id="msg1" color="red">*</font>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" class="wr ft1">说明：</td>
                                    <td colspan="7"><textarea class="w250" id="viewContent3" rows="3" placeholder="" /></textarea>&nbsp;&nbsp;&nbsp;<font size="3" id="msg1" color="red">*</font></td>
                                </tr>
                                <tr>
                                    <td align="right" class="wr ft1">市场价格下限：</td>
                                    <td colspan="7"><input class="w250" id="priceLow3" type="text" value="" />&nbsp;&nbsp;&nbsp;<font size="3" id="msg1" color="red">*</font></td></td>
                                </tr>
                                <tr>
                                    <td align="right" class="wr ft1">市场价格上限：</td>
                                    <td colspan="7"><input class="w250" id="priceHigh3" type="number" value="" />&nbsp;&nbsp;&nbsp;<font size="3" id="msg1" color="red">*</font></td></td>
                                </tr>
                                <tr>
                                    <td align="right" class="wr ft1">黄牛价(低)：</td>
                                    <td colspan="7"><input class="w250" id="priceHN3" type="number" value="" />&nbsp;&nbsp;&nbsp;<font size="3" id="msg1" color="red">*</font></td></td>
                                </tr>
                                <tr>
                                    <td align="right" class="wr ft1">黄牛价(高)：</td>
                                    <td colspan="7"><input class="w250" id="priceHNHIGH3" type="number" value="" />&nbsp;&nbsp;&nbsp;<font size="3" id="msg1" color="red">*</font></td></td>
                                </tr>
                                <tr>
                                    <td align="right" class="wr ft1">发布时间：</td>
                                    <td colspan="7"><input class="w250" id="favorDate3" type="text" value="" />&nbsp;&nbsp;&nbsp;<font size="3" id="msg1" color="red">*</font></td>
                                </tr>
                                <tr>
                                    <td align="right" class="wr ft1"></td>
                                    <td colspan="7">
                                        <span id="save3" class="codebtn">发布</span>
                                        <span id="twiceSave3" class="codebtn" style="display: none">继续发布</span>
                                    </td>
                                </tr>
                            </table>
                            <table class="mt15 tableType4">
                                <tr>
                                    <td align="right" class="wr ft1"></td>
                                    <td colspan="7"><span id="save4" class="codebtn">发布</span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footcontent">
    <a href="aboutUs">关于我们</a> | <a href="servicePetorl">服务协议</a> | <a href="questions">常见问题</a><br>
    <div>Powered by 爱剑三  © 2014-2018 Inc.       鄂ICP备17024657号</div>
    <div>QQ群：296733805</div>
</div>
</body>

<script type="text/javascript">
    $().ready(function(e) {
        var typeid=''
        $(".s_top ul li").click(function(){
            $(".s_top ul li").removeClass('cur');
            $(this).addClass('cur')
        })
        $(".icon0").click(function(){
            $(this).parents('li').remove()
        })
        $(".nav-pills ul li").click(function(){
            var sefont=$(this).find('a').text();
            $(this).parents('.nav-pills').find('.dropdown-toggle').html(sefont+'<b class="caret"></b>')
        });
        $(".icon0").click(function() {
            if($(this).attr('class').indexOf('cur')>-1){
                $(this).removeClass('cur');
                $(this).css("background","url(./dist/css/images/jx3/se0.png) no-repeat")
            }else{
                $(this).addClass('cur');
                $(this).css("background","url(./dist/css/images/jx3/se.png) no-repeat")
            }
        });
    });
</script>
</html>
