<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
  <meta name="keywords" content="剑网三交易,剑网3,剑网三,剑网三账号,剑三金币">
  <meta name="discription" content="剑三交易快速搜索">
  <title>用户中心-爱剑三</title>
  <link rel="icon" th:href="@{/dist/css/icon.ico}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" th:href="@{/dist/css/jx3/base.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/dist/css/jx3/drop.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/dist/css/jx3/user.css}">
  <script th:src="@{/dist/js/jx3/jquery.js}"></script>
  <script th:src="@{/dist/js/jx3/bt.js}"></script>
  <script th:src="@{/dist/js/jx3/base.js}"></script>
  <script th:src="@{/dist/js/jx3/dropdown.js}"></script>
  <script th:src="@{/dist/js/layer/layer.js}"></script>
  <script th:src="@{/dist/js/page/utils.js}"></script>
  <script th:src="@{/dist/js/page/myCollection.js}"></script>
</head>

<body>
<!-- top logo -->
<div class="topLogo"><img th:src="@{/dist/css/images/jx3/logo_2.png}" /></div><div class="contactUs" style="position: absolute;top: 20px;right: 100px">    <h4>咨询QQ：824460354，3032254434</h4>    <h4>QQ群号：296733805</h4></div>
<div id="userName" style="display: none">[[${#httpServletRequest.remoteUser}]]</div>
<!-- navigation -->
<div class="navCon">
  <div class="nav"><a href="index">首页</a><a href="accountList">账号交易</a><a href="appearanceSale">外观交易</a><a href="propSale" class="cur">道具交易</a><!-- <a href="goldExchangeList">金币收售</a> --><a href="levelingList">代练代打</a><a href="blackList">剑三黑榜</a><a href="dataAndSecurity">用户中心</a><a class="last" href="dataAndSecurity">登录 / 注册</a><a id="userDetails" href="javascript:void(0)" style="display: none">[[${#httpServletRequest.remoteUser}]]</a><a href="javascript:void(0)" id="exitUser" style="display: none;">            <form th:action="@{/logout}" method="post">                <input type="submit" class="btn btn-primary exit" value="退出"/>            </form>        </a>        <img class="gift" th:src="@{/dist/css/images/jx3/gift.png}"></div>
</div>
<div id="maincontent">
  <div id="mcon"> 
    <!-- usercon -->
    <div class="usercon">
      <div class="tb">
        <div class="tr">
          <div class="td menue"> <img th:src="@{/dist/css/images/jx3/uctop.png}" />
            <div class="menuelist">
              <dt>我的服务</dt>
              <dd><a href="dataAndSecurity.html">资料与安全</a></dd>
              <dd><a href="myCollection.html">我的收藏</a></dd>
              <dd><a href="myRelease.html">我的发布</a></dd>


              <dt>我要发布</dt>
              <dd><a href="report.html">我要举报</a></dd>
              <dd><a href="appearanceTransaction.html">外观交易</a></dd>
             <dd><a href="propTransaction.html">道具交易</a></dd>
              <!-- <dd><a href="propTransaction.html">道具交易</a></dd> -->
              <dd><a href="accountExchange.html">代练代打</a></dd>
              <dd><a href="quickRelease.html">账号收售快速发布</a></dd>
              <!--<dd><a href="detailRelease.html">账号收售详细发布</a></dd>-->
              <dt>后台管理</dt>
              <dd><a href="userList.html">用户管理</a></dd>
              <dd><a href="userManage.html">功能权限设置</a></dd>
              <dd><a href="userservice.html">用户查看权限管理</a></dd>

              <dd><a href="userimgs.html">图文管理</a></dd>
            </div>
          </div>
          <div class="td">
            <div class="rightcon">
              <div class="title">
                <div class="ht">我的收藏</div>
              </div>
              <div class="tops">
               <div class="fl"><i class="icon1"></i>　全选</div>
               <div class="fr"><a href="javascript:void(0)" class="remove"><img th:src="@{/dist/css/images/jx3/del.png}" /></a></div>
               <div class="clear"></div>
              </div>
              <div class="classifiedList3">
                <div class="table">
                  <div class="table-tr tablech1">
                    <div class="table-th table-th3"></div>
                    <div class="table-th">收藏类别</div>
                    <div class="table-th">收藏内容资料简介</div>
                    <div class="table-th">状态</div>
                    <div class="table-th">收藏时间</div>
                    <div class="table-th">发布时间</div>
                  </div>
                </div>
              </div>
              <div class="pagers pagers2">
                <ul class="pagination">
                  <li class="disabled"><a href="#">上一页</a></li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">下一页</a></li>
                </ul>
      </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- foot -->
<div class="footcontent"><a href="aboutUs">关于我们</a> | <a href="servicePetorl">服务协议</a> | <a href="questions">常见问题</a><br>
  Powered by 爱剑三  © 2014-2018 Inc.       鄂ICP备15009570号 </div>
</body>
</html>
