<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
  <meta name="keywords" content="剑网三交易,剑网3,剑网三,剑网三账号,剑三金币">
  <meta name="discription" content="剑三交易快速搜索">
  <title>用户中心-爱剑三</title>
  <link rel="icon" th:href="@{/dist/css/icon.ico}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" th:href="@{/dist/css/jx3/base.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/dist/css/jx3/drop.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/dist/css/jx3/user.css}">
  <script th:src="@{/dist/js/jx3/jquery.js}"></script>
  <script th:src="@{/dist/js/jx3/bt.js}"></script>
  <script th:src="@{/dist/js/jx3/base.js}"></script>
  <script th:src="@{/dist/js/jx3/dropdown.js}"></script>
</head>

<body>
<!-- top logo -->
<div class="topLogo"><img th:src="@{/dist/css/images/jx3/logo_2.png}" /></div><div class="contactUs" style="position: absolute;top: 6px;right: 100px">   </div>
<div id="userName" style="display: none">[[${#httpServletRequest.remoteUser}]]</div>
<!-- navigation -->
<div class="navCon">
  <div class="nav"><a href="index">首页</a><a href="accountList">账号搜索</a><a href="appearanceSale">外观搜索</a><a href="propSale" class="cur">道具搜索</a><!-- <a href="goldExchangeList">金币收售</a> --><a href="levelingList">代练代打</a><a href="blackList">剑三黑榜</a><a href="quickRelease">用户中心</a><a class="last" href="dataAndSecurity">登录 / 注册</a><a id="userDetails" href="javascript:void(0)" style="display: none">[[${#httpServletRequest.remoteUser}]]</a><a href="javascript:void(0)" id="exitUser" style="display: none;">            <form th:action="@{/logout}" method="post">                <input type="submit" class="btn btn-primary exit" value="退出"/>            </form>        </a>        <img class="gift" th:src="@{/dist/css/images/jx3/gift.png}"></div>
</div>

<div id="maincontent">
  <div id="mcon"> 
    <!-- usercon -->
    <div class="usercon input1">
      <div class="tb">
        <div class="tr">
          <div class="td menue"> <img th:src="@{/dist/css/images/jx3/uctop.png}" />
            <div class="menuelist">
              <dt>我的服务</dt>
              <dd><a href="dataAndSecurity.html">资料与安全</a></dd>
              <dd><a href="myCollection.html">我的收藏</a></dd>
              <dd><a href="myRelease.html">我的发布</a></dd>


              <dt>我要发布</dt>
              <dd><a href="report.html">我要举报</a></dd>
              <dd><a href="appearanceTransaction.html">外观发布</a></dd>
             <dd><a href="propTransaction.html">道具发布</a></dd>
              <!-- <dd><a href="propTransaction.html">道具交易</a></dd> -->
              <dd><a href="accountExchange.html">代练代打</a></dd>
              <dd><a href="quickRelease.html">账号收售快速发布</a></dd><dd><a href="appearancePrice.html">外观价格发布</a></dd>
              <!--<dd><a href="detailRelease.html">账号收售详细发布</a></dd>-->
              <dt>后台管理</dt>
              <dd><a href="userList.html">用户管理</a></dd>
              <dd><a href="userManage.html">功能权限设置</a></dd>
              <dd><a href="userservice.html">用户查看权限管理</a></dd>

              <dd><a href="userimgs.html">图文管理</a></dd>
            </div>
          </div>
          <div class="td">
            <div class="rightcon">
              <div class="title">
                <div class="ht">信息定制服务设置</div>
              </div>
              <table class="mt15">
                <tr>
                  <td align="right" class="wr ft1">服务类别：</td>
                  <td><ul class="nav nav-pills">
                      <li class="dropdown all-camera-dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"> 账号交易-消息定制推00000送 <b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                          <li data-filter-camera-type="all"><a data-toggle="tab" href="#"> 账号交易-消息定制推送</a></li>
                          <li data-filter-camera-type="Alpha"><a data-toggle="tab" href="#">电信五区</a></li>
                        </ul>
                      </li>
                    </ul></td>
                </tr>
                <tr>
                  <td align="right" class="wr ft1">服务条数：</td>
                  <td><input type="text" /></td>
                  <td align="right" class="wr ft1">服务期限：</td>
                  <td><input type="text" /></td>
                  <td align="right" class="wr ft1">收费额：</td>
                  <td><input type="text" /></td>
                  <td align="right" class="wr ft1"></td>
                  <td></td>
                </tr>
                <tr>
                 <td align="right" class="wr ft1">需求说明：</td>
                 <td colspan="7"><textarea rows="6" /></textarea></td>
                </tr>
                <tr>
                  <td align="right" class="wr ft1">价格预期：</td>
                  <td><input class="" type="text" value="500" />　元</td>
                  <td align="right" class="wr ft1"></td>
                  <td></td>
                  <td align="right" class="wr ft1"></td>
                  <td></td>
                  <td align="right" class="wr ft1"></td>
                  <td></td>
                </tr>
                <tr>
                  <td align="right" class="wr ft1"></td>
                  <td colspan="7"><span class="codebtn">保存</span></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- foot -->
<div class="footcontent"><a href="aboutUs">关于我们</a> | <a href="servicePetorl">服务协议</a> | <a href="questions">常见问题</a><br>
  Powered by 爱剑三  © 2014-2018 Inc.       鄂ICP备17024657号 </div>
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"> <span class="inputtitle"></span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <div class="pop01"> <span class="inputofnt"></span>
          <input type="text" />
        </div>
        <div class="pop02">
          <div class="changecon">
            <table width="100%">
              <tr>
                <td class="wr ft1">注册手机号：</td>
                <td><input type="password" placeholder="请输入" /></td>
                <td class="ft2"><img class="getcode" th:src="@{/dist/css/images/jx3/getcode.png}" /><span class="getcodetime">30S后重新获取</span></td>
              </tr>
              <tr>
                <td class="wr ft1">输入验证码：</td>
                <td><input type="password" placeholder="请输入" /></td>
                <td class="ft2"></td>
              </tr>
              <tr>
                <td class="wr ft1">输入新手机号：</td>
                <td><input type="text" placeholder="请输入" /></td>
                <td class="ft2"></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
    <!-- /.modal-content --> 
  </div>
  <!-- /.modal-dialog --> 
</div>
<!-- /.modal -->
</body>
<script type="text/javascript">
$().ready(function(e) {
	var typeid=''
    $(".s_top ul li").click(function(){
		$(".s_top ul li").removeClass('cur');
		$(this).addClass('cur')
	})
	var $m_btn = $('#tbBtn,#phoneBtn,#emailBtn,#zfbBtn,#wechartBtn,#qqBtn,#cardBtn');
	var $modal = $('#myModal');
	$m_btn.on('click', function(){
	  $modal.modal({backdrop: 'static'});
	  var $this = $("#myModal");
	  var tid=$(this).attr("id");
	  typeid=$(this).attr("id");
	  $('.pop01').show()
	  $('.pop02').hide()
	  switch (tid){
		  case "tbBtn":
			$this.find('.inputtitle').html('修改贴吧账号');
			$this.find('.inputofnt').html('请输入贴吧账号：');
			return;
		  case "emailBtn":
			$this.find('.inputtitle').html('修改邮箱');
			$this.find('.inputofnt').html('请输入邮箱：');
			return;
		  case "zfbBtn":
			$this.find('.inputtitle').html('修改支付宝账号');
			$this.find('.inputofnt').html('请输入支付宝账号：');
			return;
		  case "wechartBtn":
			$this.find('.inputtitle').html('修改微信号');
			$this.find('.inputofnt').html('请输入微信号：');
			return;
		  case "qqBtn":
			$this.find('.inputtitle').html('修改新的QQ号码');
			$this.find('.inputofnt').html('请输入新的QQ号码：');
			return;
		  case "cardBtn":
			$this.find('.inputtitle').html('修改身份证');
			$this.find('.inputofnt').html('请输入修改身份证：');
			return;
		  case "phoneBtn":
			$this.find('.inputtitle').html('修改手机号码');
			$('.pop01').hide()
	  		$('.pop02').show()
			return;
		  
	  }
	});
	//修改bootstrap居中
	$modal.on('shown.bs.modal', function(){
	  var $this = $(this);
	  var $modal_dialog = $this.find('.modal-dialog');
	  var m_top = ( $(window).height() - $modal_dialog.height() )/2;
	  $modal_dialog.css({'margin': m_top + 'px auto'});
	  
	});
	$modal.on('click','.btn-primary',function(){
		  $modal.modal('hide')
		  switch (typeid){
			  case "tbBtn":
			    alert("贴吧")
				return;
			  case "emailBtn":
			  	alert("邮箱")
				return;
			  case "zfbBtn":
				alert("支付宝")
				return;
			  case "wechartBtn":
				alert("微信")
				return;
			  case "qqBtn":
				alert("QQ")
				return;
			  case "cardBtn":
				alert("身份证")
				return;
			  case "phoneBtn":
			    alert("手机")
				return;
			  
		  }
	})
});
</script>
</html>
