<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="keywords" content="剑网三交易,剑网3,剑网三,剑网三账号,剑三金币">
    <meta name="discription" content="剑三交易快速搜索">
    <title>用户中心-爱剑三</title>
    <link rel="icon" th:href="@{/dist/css/icon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/jx3/base.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/jx3/drop.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/jx3/user.css}">
    <script th:src="@{/dist/js/jx3/jquery.js}"></script>
    <script th:src="@{/dist/js/jx3/bt.js}"></script>
    <script th:src="@{/dist/js/jx3/base.js}"></script>
    <script th:src="@{/dist/js/jx3/dropdown.js}"></script>
</head>

<body>
<!-- top logo -->
<div class="topLogo"><img th:src="@{/dist/css/images/jx3/logo_2.png}" /></div><div class="contactUs" style="position: absolute;top: 20px;right: 100px">    <h4>咨询QQ：824460354，3032254434</h4>    <h4>QQ群号：296733805</h4></div>
<div id="userName" style="display: none">[[${#httpServletRequest.remoteUser}]]</div>
<!-- navigation -->
<div class="navCon">
    <div class="nav"><a href="index">首页</a><a href="accountList">账号交易</a><a href="appearanceSale">外观交易</a><a href="propSale" class="cur">道具交易</a><a href="goldExchangeList">金币收售</a><a href="levelingList">代练代打</a><a href="blackList">剑三黑榜</a><a href="dataAndSecurity">用户中心</a><a class="last" href="dataAndSecurity">登录 / 注册</a><a id="userDetails" href="javascript:void(0)" style="display: none">[[${#httpServletRequest.remoteUser}]]</a><a href="javascript:void(0)" id="exitUser" style="display: none;">            <form th:action="@{/logout}" method="post">                <input type="submit" class="btn btn-primary exit" value="退出"/>            </form>        </a>        <img class="gift" th:src="@{/dist/css/images/jx3/gift.png}"></div>
</div>
<div id="maincontent">
    <div id="mcon">
        <!-- usercon -->
        <div class="usercon input1">
            <div class="tb">
                <div class="tr">
                    <div class="td menue"> <img th:src="@{/dist/css/images/jx3/uctop.png}" />
                        <div class="menuelist">
                            <dt>我的服务</dt>
                            <dd><a href="dataAndSecurity.html">资料与安全</a></dd>
                            <dd><a href="myCollection.html">我的收藏</a></dd>
                            <dd><a href="myRelease.html">我的发布</a></dd>
                            <dd class="cur"><a href="myService.html">查看信息服务</a></dd>
                            <dt>我要发布</dt>
                            <dd><a href="report.html">我要举报</a></dd>
                            <dd><a href="appearanceTransaction.html">外观交易</a></dd>
                            <dd><a href="propTransaction.html">道具交易</a></dd>
                            <dd><a href="accountTransaction.html">金币交易</a></dd>
                            <dd><a href="accountExchange.html">代练代打</a></dd>
                            <dd><a href="quickRelease.html">账号收售快速发布</a></dd>
                            <!--<!--<dd><a href="detailRelease.html">账号收售详细发布</a></dd>-->
                            <dt>后台管理</dt>
                            <dd><a href="userList.html">用户管理</a></dd>
                            <dd><a href="userManage.html">功能权限设置</a></dd>
                            <dd><a href="userservice.html">用户查看权限管理</a></dd>

                            <dd><a href="userimgs.html">图文管理</a></dd>
                        </div>
                    </div>
                    <div class="td">
                        <div class="rightcon">
                            <!--<div class="title">
                                <div class="ht">信息定制服务发布</div>
                            </div>
                            <table class="mt15">
                                <tr>
                                    <td align="right" class="wr ft1">服务类别</td>
                                    <td><ul class="nav nav-pills">
                                        <li class="dropdown all-camera-dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"> 账号信息定制 <b class="caret"></b> </a>
                                            <ul class="dropdown-menu">
                                                <li data-filter-camera-type="all"><a data-toggle="tab" href="#"> 账号信息定制</a></li>
                                                <li data-filter-camera-type="Alpha"><a data-toggle="tab" href="#">外观信息定制</a></li>
                                                <li data-filter-camera-type="Alpha"><a data-toggle="tab" href="#">道具信息定制</a></li>
                                            </ul>
                                        </li>
                                    </ul></td>
                                    <td align="right" class="wr ft1">标准服务条数：50条</td>
                                    <td align="right" class="wr ft1">收费额：10元</td>
                                </tr>
                                <tr>
                                    <td align="right" class="wr ft1">价格预期</td>
                                    <td><input class="warn" type="text" value="5000" />　元</td>
                                    <td align="right" class="wr ft1"></td>
                                    <td></td>
                                    <td align="right" class="wr ft1"></td>
                                    <td></td>
                                    <td align="right" class="wr ft1"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td align="right" class="wr ft1">需求标题</td>
                                    <td colspan="7"><input class="w250 warn" type="text" value="电五六红道长" />（限20字）</td>
                                </tr>
                                <tr>
                                    <td align="right" class="wr ft1">核心需求</td>
                                    <td colspan="7"><textarea rows="6" />如：电八战无收个带白螺母的95CW秀萝</textarea></td>
                                </tr>
                                <tr>
                                    <td align="right" class="wr ft1">其他需求</td>
                                    <td colspan="7"><textarea rows="6" />如：电八战无收个带白螺母的95CW秀萝</textarea></td>
                                </tr>
                                <tr>
                                    <td align="right" class="wr ft1"></td>
                                    <td colspan="7"><span class="codebtn">保存</span></td>
                                </tr>
                            </table>-->
                            <div class="title">
                                <div class="ht">信息定制-服务列表</div>
                            </div>
                            <div class="tops">
                                <table>
                                    <tbody><tr>
                                        <td align="right" class="wr ft1">用户搜索：</td>
                                        <td><ul class="nav nav-pills">
                                            <li class="dropdown all-camera-dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">用户账号<b class="caret"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li data-filter-camera-type="all"><a data-toggle="tab" href="#">用户账号</a></li>
                                                    <li data-filter-camera-type="Alpha"><a data-toggle="tab" href="#">用户名</a></li>
                                                    <li data-filter-camera-type="Alpha"><a data-toggle="tab" href="#">手机号</a></li>
                                                </ul>
                                            </li>
                                        </ul></td>
                                        <td><input class="w250" type="text" placeholder="情输入搜索内容"></td>
                                        <td colspan="2"><a href="#" class="search-l">搜索</a></td>
                                    </tr>
                                    </tbody></table>
                            </div>
                            <div class="classifiedList3">
                                <div class="table">
                                    <div class="table-tr tablech1">
                                        <div class="table-th table-th3">服务类别|</div>
                                        <div class="table-th">订单号|</div>
                                        <div class="table-th">订单时间|</div>
                                        <div class="table-th">需求标题|</div>
                                        <div class="table-th">标准服务时间|</div>
                                        <div class="table-th">剩余条数|</div>
                                        <div class="table-th">支付状态|</div>
                                        <div class="table-th">服务状态</div>
                                    </div>
                                    <div class="table-tr">
                                        <div class="table-td">账号信息定制</div>
                                        <div class="table-td">123456</div>
                                        <div class="table-td">2017-6-20</div>
                                        <div class="table-td warn"><a class="modalBtn warn" href="#identifier" data-toggle="modal">电五六红道长</a></div>
                                        <div class="table-td">50</div>
                                        <div class="table-td">20</div>
                                        <div class="table-td">已支付</div>
                                        <div class="table-td">
                                            <tr>
                                                <td colspan="7"><form action="sava.php" method="post">
                                                    <input type="radio" name="gender" value="是" />
                                                    <lable>开</lable>
                                                    <input type="radio" name="gender" value="否" />
                                                    <lable>关</lable>
                                                </form></td>
                                            </tr>
                                        </div>
                                    </div>
                                    <div class="table-tr">
                                        <div class="table-td">账号信息定制</div>
                                        <div class="table-td">123456</div>
                                        <div class="table-td">2017-6-20</div>
                                        <div class="table-td">电五青盒子</div>
                                        <div class="table-td">50</div>
                                        <div class="table-td">10</div>
                                        <div class="table-td">已支付</div>
                                        <div class="table-td">
                                            <tr>
                                                <td colspan="7"><form action="sava.php" method="post">
                                                    <input type="radio" name="gender" value="是" />
                                                    <lable>开</lable>
                                                    <input type="radio" name="gender" value="否" />
                                                    <lable>关</lable>
                                                </form></td>
                                            </tr>
                                        </div>
                                    </div>
                                    <div class="table-tr">
                                        <div class="table-td">账号信息定制</div>
                                        <div class="table-td">123456</div>
                                        <div class="table-td">2017-6-20</div>
                                        <div class="table-td">寻珍味虎仔</div>
                                        <div class="table-td">50</div>
                                        <div class="table-td">7</div>
                                        <div class="table-td">已支付</div>
                                        <div class="table-td">
                                            <tr>
                                                <td colspan="7"><form action="sava.php" method="post">
                                                    <input type="radio" name="gender" value="是" />
                                                    <lable>开</lable>
                                                    <input type="radio" name="gender" value="否" />
                                                    <lable>关</lable>
                                                </form></td>
                                            </tr>
                                        </div>
                                    </div>
                                    <div class="table-tr">
                                        <div class="table-td">账号信息定制</div>
                                        <div class="table-td">123456</div>
                                        <div class="table-td">2017-6-20</div>
                                        <div class="table-td">电五青盒子道长</div>
                                        <div class="table-td">50</div>
                                        <div class="table-td">8</div>
                                        <div class="table-td">已支付</div>
                                        <div class="table-td">
                                            <tr>
                                                <td colspan="7"><form action="sava.php" method="post">
                                                    <input type="radio" name="gender" value="是" />
                                                    <lable>开</lable>
                                                    <input type="radio" name="gender" value="否" />
                                                    <lable>关</lable>
                                                </form></td>
                                            </tr>
                                        </div>
                                    </div>
                                    <div class="table-tr">
                                        <div class="table-td">账号信息定制</div>
                                        <div class="table-td">123456</div>
                                        <div class="table-td">2017-6-20</div>
                                        <div class="table-td">电五黑盒子</div>
                                        <div class="table-td">50</div>
                                        <div class="table-td">8</div>
                                        <div class="table-td">已支付</div>
                                        <div class="table-td">
                                            <tr>
                                                <td colspan="7"><form action="sava.php" method="post">
                                                    <input type="radio" name="gender" value="是" />
                                                    <lable>开</lable>
                                                    <input type="radio" name="gender" value="否" />
                                                    <lable>关</lable>
                                                </form></td>
                                            </tr>
                                        </div>
                                    </div>
                                    <div class="table-tr">
                                        <div class="table-td">账号信息定制</div>
                                        <div class="table-td">123456</div>
                                        <div class="table-td">2017-6-20</div>
                                        <div class="table-td">电五黑盒子</div>
                                        <div class="table-td">50</div>
                                        <div class="table-td">8</div>
                                        <div class="table-td">已支付</div>
                                        <div class="table-td">
                                            <tr>
                                                <td colspan="7"><form action="sava.php" method="post">
                                                    <input type="radio" name="gender" value="是" />
                                                    <lable>开</lable>
                                                    <input type="radio" name="gender" value="否" />
                                                    <lable>关</lable>
                                                </form></td>
                                            </tr>
                                        </div>
                                    </div>
                                    <div class="table-tr">
                                        <div class="table-td">账号信息定制</div>
                                        <div class="table-td">123456</div>
                                        <div class="table-td">2017-6-20</div>
                                        <div class="table-td">电五黑盒子</div>
                                        <div class="table-td">50</div>
                                        <div class="table-td">50</div>
                                        <div class="table-td"><a href="28sale.html">待支付</a></div>
                                        <div class="table-td">
                                        </div>
                                    </div>
                                    <div class="table-tr">
                                        <div class="table-td">账号信息定制</div>
                                        <div class="table-td">123456</div>
                                        <div class="table-td">2017-6-20</div>
                                        <div class="table-td">电五黑盒子</div>
                                        <div class="table-td">50</div>
                                        <div class="table-td">50</div>
                                        <div class="table-td"><a href="28sale.html">待支付</a></div>
                                        <div class="table-td">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </br>
                            </br>
                            </br>
                            <div class="title">
                                <div class="ht">信息定制-详细服务记录列表</div>
                            </div>
                            <div class="classifiedList3">
                                <div class="table">
                                    <div class="table-tr tablech1">
                                        <div class="table-th table-th3">服务类别</div>
                                        <div class="table-th">订单号</div>
                                        <div class="table-th">发送时间</div>
                                        <div class="table-th">目标资料</div>
                                        <div class="table-th">匹配度</div>
                                        <div class="table-th">剩余条数</div>
                                    </div>
                                    <div class="table-tr">
                                        <div class="table-td">账号信息定制</div>
                                        <div class="table-td"><a class="modalBtn warn" href="#identifier" data-toggle="modal">123456</a></div>
                                        <div class="table-td">2017-07-01 18：05：06</div>
                                        <div class="table-td">电五青盒子黑盒子渊微道长</div>
                                        <div class="table-td">95%</div>
                                        <div class="table-td">20</div>
                                    </div>
                                    <div class="table-tr">
                                        <div class="table-td">账号信息定制</div>
                                        <div class="table-td">123456</div>
                                        <div class="table-td">2017-07-01 18：05：06</div>
                                        <div class="table-td">电五青盒子黑盒子渊微道长</div>
                                        <div class="table-td">100%</div>
                                        <div class="table-td">21</div>
                                    </div>
                                    <div class="table-tr">
                                        <div class="table-td">账号信息定制</div>
                                        <div class="table-td">123456</div>
                                        <div class="table-td">2017-07-01 18：05：06</div>
                                        <div class="table-td">电五青盒子黑盒子渊微道长</div>
                                        <div class="table-td">95%</div>
                                        <div class="table-td">22</div>
                                    </div>
                                    <div class="table-tr">
                                        <div class="table-td">账号信息定制</div>
                                        <div class="table-td">123456</div>
                                        <div class="table-td">2017-07-01 18：05：06</div>
                                        <div class="table-td">电五青盒子黑盒子渊微道长</div>
                                        <div class="table-td">95%</div>
                                        <div class="table-td">23</div>
                                    </div>
                                    <div class="table-tr">
                                        <div class="table-td">账号信息定制</div>
                                        <div class="table-td">123456</div>
                                        <div class="table-td">2017-07-01 18：05：06</div>
                                        <div class="table-td">电五青盒子黑盒子渊微道长</div>
                                        <div class="table-td">95%</div>
                                        <div class="table-td">24</div>
                                    </div>
                                    <div class="table-tr">
                                        <div class="table-td">账号信息定制</div>
                                        <div class="table-td">123456</div>
                                        <div class="table-td">2017-07-01 18：05：06</div>
                                        <div class="table-td">电五青盒子黑盒子渊微道长</div>
                                        <div class="table-td">100%</div>
                                        <div class="table-td">25</div>
                                    </div>
                                    <div class="table-tr">
                                        <div class="table-td">账号信息定制</div>
                                        <div class="table-td">123456</div>
                                        <div class="table-td">2017-07-01 18：05：06</div>
                                        <div class="table-td">电五青盒子黑盒子渊微道长</div>
                                        <div class="table-td">95%</div>
                                        <div class="table-td">26</div>
                                    </div>
                                    <div class="table-tr">
                                        <div class="table-td">账号信息定制</div>
                                        <div class="table-td">123456</div>
                                        <div class="table-td">2017-07-01 18：05：06</div>
                                        <div class="table-td">电五青盒子黑盒子渊微道长</div>
                                        <div class="table-td">100%</div>
                                        <div class="table-td">27</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- foot -->
    <div class="footcontent"><a href="aboutUs">关于我们</a> | <a href="servicePetorl">服务协议</a> | <a href="questions">常见问题</a><br>
        Powered by 爱剑三  © 2014-2018 Inc.       鄂ICP备15009570号 </div>

</div>
<!-- /.modal-content -->
<!-- /.modal-dialog -->
<!-- /.modal -->
</body>
<div class="modal fade" id="identifier" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"> <span class="inputtitle">本条账号信息由平台用户上传：</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <table border="1">
                    <p>用户联系方式：</p>
                    <p>QQ：357525874</p>
                    <p>特别提示：请注意交易安全，本平台不对信息真实性和信息的安全性提供保证。若有疑问，请联系客服。</p>
                    <p>客服QQ：153435143</p>
                </table>
            </div>
            <div class="modal-footer"><span class="inputtitle"></span>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="text/javascript">
    $().ready(function(e) {
        var typeid=''
        $(".s_top ul li").click(function(){
            $(".s_top ul li").removeClass('cur');
            $(this).addClass('cur')
        })
        var $m_btn = $('#tbBtn,#phoneBtn,#emailBtn,#zfbBtn,#wechartBtn,#qqBtn,#cardBtn');
        var $modal = $('#myModal');
        $m_btn.on('click', function(){
            $modal.modal({backdrop: 'static'});
            var $this = $("#myModal");
            var tid=$(this).attr("id");
            typeid=$(this).attr("id");
            $('.pop01').show()
            $('.pop02').hide()
            switch (tid){
                case "tbBtn":
                    $this.find('.inputtitle').html('修改贴吧账号');
                    $this.find('.inputofnt').html('请输入贴吧账号：');
                    return;
                case "emailBtn":
                    $this.find('.inputtitle').html('修改邮箱');
                    $this.find('.inputofnt').html('请输入邮箱：');
                    return;
                case "zfbBtn":
                    $this.find('.inputtitle').html('修改支付宝账号');
                    $this.find('.inputofnt').html('请输入支付宝账号：');
                    return;
                case "wechartBtn":
                    $this.find('.inputtitle').html('修改微信号');
                    $this.find('.inputofnt').html('请输入微信号：');
                    return;
                case "qqBtn":
                    $this.find('.inputtitle').html('修改新的QQ号码');
                    $this.find('.inputofnt').html('请输入新的QQ号码：');
                    return;
                case "cardBtn":
                    $this.find('.inputtitle').html('修改身份证');
                    $this.find('.inputofnt').html('请输入修改身份证：');
                    return;
                case "phoneBtn":
                    $this.find('.inputtitle').html('修改手机号码');
                    $('.pop01').hide()
                    $('.pop02').show()
                    return;

            }
        });
        //修改bootstrap居中
        $modal.on('shown.bs.modal', function(){
            var $this = $(this);
            var $modal_dialog = $this.find('.modal-dialog');
            var m_top = ( $(window).height() - $modal_dialog.height() )/2;
            $modal_dialog.css({'margin': m_top + 'px auto'});

        });
        $modal.on('click','.btn-primary',function(){
            $modal.modal('hide')
            switch (typeid){
                case "tbBtn":
                    alert("贴吧")
                    return;
                case "emailBtn":
                    alert("邮箱")
                    return;
                case "zfbBtn":
                    alert("支付宝")
                    return;
                case "wechartBtn":
                    alert("微信")
                    return;
                case "qqBtn":
                    alert("QQ")
                    return;
                case "cardBtn":
                    alert("身份证")
                    return;
                case "phoneBtn":
                    alert("手机")
                    return;

            }
        })
    });
    $('.modalBtn').click(function () {
        $(this).parents('#maincontent').siblings('.modal').addClass('madalHide');
    })


    var colose = $('.close');
    var cancel = $('.btn-default');
    $(colose,cancel).click(function () {
        $(this).parents('.modal').removeClass('madalHide');
    })
</script>
</html>