<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="keywords" content="剑网三交易,剑网3,剑网三,剑网三账号,剑三金币">
    <meta name="discription" content="剑三交易快速搜索">
    <title>用户中心-爱剑三</title>
    <link rel="icon" th:href="@{/dist/css/icon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/jx3/base.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/jx3/drop.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/jx3/user.css}">
    <script th:src="@{/dist/js/jx3/jquery.js}"></script>
    <script th:src="@{/dist/js/jx3/bt.js}"></script>
    <script th:src="@{/dist/js/jx3/base.js}"></script>
    <script th:src="@{/dist/js/jx3/dropdown.js}"></script>
    <script th:src="@{/dist/js/layer/layer.js}"></script>
    <script th:src="@{/dist/js/page/utils.js}"></script>
    <script th:src="@{/dist/js/page/userList.js}"></script>
</head>

<body>
<style>
    .gray{
        background-color: gray;
    }
    .grayBtn{
        border-radius: 6px;
        background: darkgray;
        cursor: pointer;
        font-size: 12px;
        height: 28px;
        line-height: 28px;
        padding: 0 15px;
        text-align: center;
        color: #fff;
        display: inline-block;
    }
</style>
<!-- top logo -->
<div class="topLogo"><img th:src="@{/dist/css/images/jx3/logo_2.png}" /></div><div class="contactUs" style="position: absolute;top: 6px;right: 100px">   <h4>咨询客服：824460354，3032254434</h4> <h4>咨询外观：823515253</h4> <h4>QQ群号：296733805</h4></div>
<div id="userName" style="display: none">[[${#httpServletRequest.remoteUser}]]</div>
<!-- navigation -->
<div class="navCon">
    <div class="nav"><a href="index">首页</a><a href="accountList">账号搜索</a><a href="appearanceSale">外观搜索</a><a href="propSale" class="cur">道具搜索</a><!-- <a href="goldExchangeList">金币收售</a> --><a href="levelingList">代练代打</a><a href="blackList">剑三黑榜</a><a href="dataAndSecurity">用户中心</a><a class="last" href="dataAndSecurity">登录 / 注册</a><a id="userDetails" href="javascript:void(0)" style="display: none">[[${#httpServletRequest.remoteUser}]]</a><a href="javascript:void(0)" id="exitUser" style="display: none;">            <form th:action="@{/logout}" method="post">                <input type="submit" class="btn btn-primary exit" value="退出"/>            </form>        </a>        <img class="gift" th:src="@{/dist/css/images/jx3/gift.png}"></div>
</div>
<div id="maincontent">
    <div id="mcon">
        <!-- usercon -->
        <div class="usercon input1">
            <div class="tb">
                <div class="tr">
                    <div class="td menue"> <img th:src="@{/dist/css/images/jx3/uctop.png}" />
                        <div class="menuelist">
                            <dt>我的服务</dt>
                            <dd><a href="dataAndSecurity.html">资料与安全</a></dd>
                            <dd><a href="myCollection.html">我的收藏</a></dd>
                            <dd><a href="myRelease.html">我的发布</a></dd>


                            <dt>我要发布</dt>
                            <dd><a href="report.html">我要举报</a></dd>
                            <dd><a href="appearanceTransaction.html">外观发布</a></dd>
                           <dd><a href="propTransaction.html">道具发布</a></dd>
                            <!-- <dd><a href="propTransaction.html">道具交易</a></dd> -->
                            <dd><a href="accountExchange.html">代练代打</a></dd>
                            <dd><a href="quickRelease.html">账号收售快速发布</a></dd>
                            <!--<dd><a href="detailRelease.html">账号收售详细发布</a></dd>-->
                            <dt>后台管理</dt>
                            <dd><a href="userList.html">用户管理</a></dd>
                            <dd><a href="userManage.html">功能权限设置</a></dd>
                            <dd><a href="userservice.html">用户查看权限管理</a></dd>

                            <dd><a href="userimgs.html">图文管理</a></dd>
                        </div>
                    </div>
                    <div class="td">
                        <div class="rightcon">
                            <div class="title">
                                <div class="ht">用户列表及账号管理</div>
                            </div>
                            <div class="userManage">

                                <ul class="tab-nav">
                                    <li class="cur">账号管理</li>
                                    <li style="display: none;">用户详情</li>
                                </ul>
                                <div class="list">
                                    <div class="tab-content">
                                        <div class="group">
                                            <div class="tops">
                                                <table>
                                                    <tbody><tr>
                                                        <td align="right" class="wr ft1">用户搜索：</td>
                                                        <td><ul class="nav nav-pills">
                                                            <li class="dropdown all-camera-dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">用户账号<b class="caret"></b></a>
                                                                <ul class="dropdown-menu">
                                                                    <li data-filter-camera-type="all"><a data-toggle="tab" href="#">用户账号</a></li>
                                                                    <li data-filter-camera-type="Alpha"><a data-toggle="tab" href="#">用户名</a></li>
                                                                    <li data-filter-camera-type="Alpha"><a data-toggle="tab" href="#">手机号</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul></td>
                                                        <td><input class="w250" type="text" placeholder="情输入搜索内容"></td>
                                                        <td colspan="2"><a href="#" class="search-l">搜索</a></td>
                                                    </tr>
                                                    </tbody></table>
                                            </div>
                                            <div class="classifiedList3">
                                                <div class="table">
                                                </div>
                                                <div class="pagers pagers2">
                                                    <ul class="pagination">
                                                        <li class="disabled"><a href="#">上一页</a></li>
                                                        <li class="active"><a href="#">1</a></li>
                                                        <li><a href="#">2</a></li>
                                                        <li><a href="#">3</a></li>
                                                        <li><a href="#">4</a></li>
                                                        <li><a href="#">5</a></li>
                                                        <li><a href="#">下一页</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="group">
                                            <div class="tb tcon">
                                                <div class="tr">
                                                    <div class="td name">用户ID：</div>
                                                    <div class="td mid">526135</div>
                                                </div>
                                                <div class="tr">
                                                    <div class="td name">注册日期：</div>
                                                    <div class="td mid">2017-01-01 12:00:00</div>
                                                 </div>
                                                <div class="tr">
                                                    <div class="td name">登陆账号：</div>
                                                    <div class="td mid">8945498</div>
                                                </div>
                                                <div class="tr">
                                                    <div class="td name">登陆密码：</div>
                                                    <div class="td mid">edc78412321</div>
                                                </div>
                                                <div class="tr">
                                                    <div class="td name">用户名：</div>
                                                    <div class="td mid">用户名***</div>
                                                </div>
                                                <div class="tr">
                                                    <div class="td name">性别：</div>
                                                    <div class="td mid">嬲</div>
                                                </div>
                                                <div class="tr">
                                                    <div class="td name">绑定手机：</div>
                                                    <div class="td mid">12345678998</div>
                                                </div>
                                                <div class="tr">
                                                    <div class="td name">绑定QQ：</div>
                                                    <div class="td mid">684561469</div>
                                                </div>
                                                <div class="tr">
                                                    <div class="td name">绑定邮箱：</div>
                                                    <div class="td mid">123456789@qq.com</div>
                                                </div>
                                                <div class="tr">
                                                    <div class="td name">绑定贴吧账号：</div>
                                                    <div class="td mid">qwe987654</div>
                                                </div>
                                                <div class="tr">
                                                    <div class="td name">绑定微信：</div>
                                                    <div class="td mid">asd456123</div>
                                                </div>
                                                <div class="tr">
                                                    <div class="td name">绑定支付宝：</div>
                                                    <div class="td mid">123456789</div>
                                                </div>
                                                <div class="tr">
                                                    <div class="td name">绑定身份证：</div>
                                                    <div class="td mid">420802199505160516</div>
                                                </div>
                                            </div>
                                        </div>
                                </div>

                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- foot -->
<div class="footcontent"><a href="aboutUs">关于我们</a> | <a href="servicePetorl">服务协议</a> | <a href="questions">常见问题</a><br>
    Powered by 爱剑三  © 2014-2018 Inc.       鄂ICP备15009570号 </div>
<!-- /.modal -->
</body>
<script type="text/javascript">
    $('.userManage .tab-nav li').click(function () {
        if($(this).text().indexOf('账号管理')>-1){
            $(this).parent().find('li').eq(1).hide();
        }
        $(this).addClass('cur').siblings('li').removeClass('cur');
        var liindex=$(this).index();
        var tabcontent=$('.tab-content .group');
        $(tabcontent[liindex]).show().siblings('.group').hide();
    });
    $(".nav-pills ul li").click(function(){
        var sefont=$(this).find('a').text();
        $(this).parents('.nav-pills').find('.dropdown-toggle').html(sefont+'<b class="caret"></b>')
    })
</script>
</html>
