<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="keywords" content="剑网三交易,剑网3,剑网三,剑网三账号,剑三金币">
    <meta name="discription" content="剑三交易快速搜索">
    <title>账号搜索-爱剑三</title>
    <link rel="icon" th:href="@{/dist/css/icon.ico}" type="image/x-icon">
<link rel="stylesheet" type="text/css" th:href="@{/dist/css/jx3/base.css}">
<link rel="stylesheet" type="text/css" th:href="@{/dist/css/jx3/drop.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/jx3/bootstrap.css}">
<link rel="stylesheet" type="text/css" th:href="@{/dist/js/jx3/select2/select2.min.css}">
<script th:src="@{/dist/js/jx3/jquery.js}"></script>
<script th:src="@{/dist/js/jx3/base.js}"></script>
<script th:src="@{/dist/js/jx3/dropdown.js}"></script>
    <script th:src="@{/dist/js/jx3/bootstrap.min.js}"></script>
    <script th:src="@{/dist/js/jx3/select2/select2.full.min.js}"></script>
    <script th:src="@{/dist/js/layer/layer.js}"></script>
    <script th:src="@{/dist/js/page/utils.js}"></script>
    <script th:src="@{/dist/js/page/accountList.js}"></script>
</head>
<style>
    .main
    {
        list-style: none;
        float: left;
        margin-left: 20px;
    }
    .main li
    {
        list-style: none;
        text-align: left;
        margin-left: -40px;
    }
    .main ul
    {
        display: none;
    }
    .main a
    {
        text-decoration: none;
    }
    .main li a
    {
        text-decoration: none;
    }
    .layui-layer-title{
        display: none;
    }
    .layer-anim.layui-layer-dialog{
        width: 480px!important;
    }
    .addQuery>div>label{
        margin: 5px;
        font-size: 18px;
        float: left;
    }
    .addQuery{
        margin-left: 30px;
    }
    .addQuery>div{
        height: 40px;
    }
    .modal-content{
        width: 1000px;
        left: -180px;
    }
    .delQueryTable>thead>tr>th,.delQueryTable>tbody>tr>td{
        text-align: center;
        border: 1px solid black;
        padding: 0px 5px;
        height: 60px;
        background-color: lightgray;
    }
    .delQueryTable>tbody>tr>td{
        background-color: #fff;
    }
    .delQueryTable{
        width: 80%;
        margin: 0% 10%;
        height: 120px;
        font-size: 20px;
    }
    .delQueryList{
        font-size: 27px;
        font-weight: 900;
        cursor: pointer;
        color: brown;
    }
    .faxin,.hezi,.pifeng,.wuxian,.liuxian,.chengyi,.qiyu,.chengwu,.guajian{
        width: 100px;height: 31px;border-radius: 5px;
    }
    .info2Td{
        width: 400px;
        height: auto!important;
        border: 1px solid rgb(169, 169, 169);
        border-radius: 5px;
        padding: 2px!important;
        cursor: text;
        min-height: 80px;
    }
    .searccon textarea {
        width: 500px;
        height: 45px;
        font-size: 15px;
    }
    .selectedOption>div{
        float: left;
        width: auto;
        padding: 0 5px;
        height: 31px;
        background-color: #00a2d4;
        cursor: pointer;
        margin: 4px;
        border-radius: 5px;
        text-align: center;
        color: #fff;
        font-size: 18px;
        line-height: 30px;
    }
    .deleteOption{
        display: none;
        width: 16px;
        background: url(./dist/css/images/jx3/closeimg.png) no-repeat;
        height: 16px;
        position: absolute;
        margin-left: -16px;
        background-size: 16px 16px;
        cursor: pointer;
    }
</style>
<body style="display: none">
<!-- top logo -->
<div class="topLogo"><img th:src="@{/dist/css/images/jx3/logo_2.png}" /></div><div class="contactUs" style="position: absolute;top: 6px;right: 100px">   </div>
<div id="userName" style="display: none">[[${#httpServletRequest.remoteUser}]]</div>
<!-- navigation -->
<div class="navCon">
    <div class="nav"><a href="index">首页</a><a href="accountList">账号搜索</a><a href="appearanceSale">外观搜索</a><a href="propSale" class="cur">道具搜索</a><!-- <a href="goldExchangeList">金币收售</a> --><a href="levelingList">代练代打</a><a href="blackList">剑三黑榜</a><a href="dataAndSecurity">用户中心</a><a class="last" href="login">登录 / 注册</a>
        <a id="userDetails" href="javascript:void(0)" style="display: none"><label>[[${#httpServletRequest.remoteUser}]]</label>
        </a>
        <a href="javascript:void(0)" id="exitUser" style="display: none;">
            <form th:action="@{/logout}" method="post">
                <input type="submit" class="btn btn-primary exit" value="退出"/>
            </form>
        </a>
        <img class="gift" th:src="@{/dist/css/images/jx3/gift.png}">
    </div>
</div>

<div id="maincontent">
 <div id="mcon">

<!-- top content -->
<div class="topContent">
  <div class="searchcon">
   <div class="s_top">
     <ul>
      <li class="cur">账号搜索</li>
         <td><div class="tipWord" style="    margin-left: -380px;font-size: 20px;    padding-top: 12px;">（可搜全贴吧剑三账号，欢迎加Q群：296733805）</div></td>
         <td>
             <select class="querySelect" style="display:none;width: 200px;float: right;font-size: 16px;padding-top: 0px;margin-top: -30px;height: 40px;margin-right: 60px;">
                <option value="0">&nbsp;使用已保存的搜索条件</option>
             </select>
         </td>
     </ul>
     <div class="clear"></div>
     <div class="sline"></div>
   </div>
   <div class="searchinput">
   <div class="logincon searccon">
    <span class="show0">
     <table>
         <tr>
              <td align="right" class="wr ft1">收售：</td>
              <td>
                  <ul class="nav nav-pills">
                      <li class="dropdown all-camera-dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"> 出售 <b class="caret"></b> </a>
                          <ul class="dropdown-menu">
                              <li data-filter-camera-type="all"><a data-toggle="tab" href="javascript:void(0)" value="1">求购</a></li>
                              <li data-filter-camera-type="Alpha"><a data-toggle="tab" href="javascript:void(0)" value="2">出售</a></li>
                          </ul>
                      </li>
                  </ul>
              </td>
          </tr>
         <tr>
           <td align="right" class="wr ft1">区服：</td>
           <td onLoad="setup()" style="margin:0">
                  <form name="frm" class="areaSelect">
                      <select style="width: 100px;height: 31px;border-radius: 5px;" id="pre" onchange="chg(this);">
                          <option value="-1">请选择</option>
                      </select>
                      <select style="width: 100px;height: 31px;border-radius: 5px;" id="city" onchange="chg2(this)" ;>
                          <option value="-1">请选择</option>
                      </select>
                      <select style="width: 100px;height: 31px;border-radius: 5px;" id="area">
                          <option value="-1">请选择</option>
                      </select>
                  </form>
           </td>
          </tr>
         <tr>
            <td align="right" class="wr ft1">门派：</td>
            <td>
                 <select class="js-example-basic-single menpai"  style="width: 100px;">
                   <option value=""></option>
                </select>
            </td>
          </tr>
         <tr>
             <td align="right" class="wr ft1">体型：</td>
           <td>
               <select class="js-example-basic-single tixin"  style="width: 100px;">
                   <option value=""></option>
                   <option value="成男">成男</option>
                   <option value="成女">成女</option>
                   <option value="萝莉">萝莉</option>
                   <option value="正太">正太</option>
                </select>
           </td>
         </tr>

         <tr>
             <td align="right" class="wr ft1">发型：</td>
           <td>
               <select class="faxin"  style="width: 200px;float: left">
                </select>
           </td>
          </tr>
         <tr>
             <td align="right" class="wr ft1">盒子：</td>
           <td>
               <select class="hezi"  style="width: 200px;float: left">
                </select>
           </td>
         </tr>
         <tr>
             <td align="right" class="wr ft1">披风：</td>
           <td>
               <select class="pifeng" style="width: 200px;float: left">
                </select>
           </td>
         </tr>
         <tr>
             <td align="right" class="wr ft1">五限：</td>
           <td>
               <select class="wuxian" style="width: 200px;float: left">
                </select>
           </td>
         </tr>
         <tr>
             <td align="right" class="wr ft1">六限：</td>
           <td>
               <select class="liuxian" style="width: 200px;float: left">
                </select>
           </td>
         </tr>
         <tr>
             <td align="right" class="wr ft1">成衣：</td>
           <td>
               <select class="chengyi" style="width: 200px;float: left">
                </select>
           </td>
         </tr>
         <tr>
             <td align="right" class="wr ft1">奇遇：</td>
           <td>
               <select class="qiyu" style="width: 200px;float: left">
                </select>
           </td>
         </tr>
         <tr>
             <td align="right" class="wr ft1">橙武：</td>
           <td>
               <select class="chengwu" style="width: 200px;float: left">
                </select>
           </td>
         </tr>
         <tr>
             <td align="right" class="wr ft1">挂件：</td>
           <td>
               <select class="guajian" style="width: 200px;float: left">
                </select>
           </td>
         </tr>
         <tr>
           <td align="right" class="wr ft1">已选词：</td>
           <td class="info2Td">
               <div class="info2">

               </div>
           </td>
          </tr>
         <tr>
           <td align="right" class="wr ft1">其他：</td>
           <td><textarea class="info" role="3" rows="3" placeholder="外观、稀有坐骑、奇趣、橙武、奇遇、珍稀挂件以及其他账号资料词。"></textarea></td>
          </tr>
         <tr>
           <td align="right" class="wr ft1">价格：</td>
           <td> <input type="number" min="1" class="lowPrice" style="width: 100px"> - <input type="number" min="2" class="highPrice" checked style="width: 100px">&nbsp;<input type="checkbox" class="hasPrice" checked style="width: 30px"/>显示价格不明确数据</td>
          </tr>
         <tr>
           <td class="wr ft1"></td>
           <td colspan="2">
               <a href="javascript:void(0)" class="query-l">查询</a>
               <a href="quickRelease" class="issue-l">我要发布</a>
               <a href="javascript:void(0)" class="issue-l keepQuery" style="width: 100px;">保存搜索条件</a>
           </td>
           <td></td>
          </tr>
     </table>
    </span>
    </div>
   </div>
  </div>
  <div class="classifiedList">
    <span class="show0">
        <div class="table">
        </div>
    </span>
  </div>
  <div class="pagers">
      <ul class="pagination">
          <li class="disabled"><a href="#">首页</a></li>
          <li class="disabled"><a href="#">上一页</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">...</a></li>
          <li><a href="#">40</a></li>
          <li><a href="#">41</a></li>
          <li><a href="#">下一页</a></li>
          <li><a href="#">尾页</a></li>
      </ul>
  </div>
</div>
</div></div>
<!-- foot -->
<div class="footcontent">
    <a href="aboutUs">关于我们</a> | <a href="servicePetorl">服务协议</a> | <a href="questions">常见问题</a><br>
    <div>Powered by 爱剑三  © 2014-2018 Inc.       鄂ICP备17024657号</div>
    <div>QQ群：296733805</div>
</div>

<div class="modal fade" id="keepQueryDetail">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"> <span class="inputtitle"></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">保存新的搜索方案</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="editQuery" style="display: none">
                        <label style="margin-left: 20px;margin-right: 20px;">请选择要覆盖的保存方案</label> <select class="editKeep" style="margin-left: 20px;width: 200px"></select>
                        <div style="margin-top: 20px">
                            <label style="margin-left: 20px;margin-right: 20px;">可修改方案名:</label>&nbsp;
                            <input type="text" class="fanganName2" style="height: 26px;"/>
                        </div>
                    </div>
                    <div class="addQuery" style="display: none">
                        <div>
                            <label>收售:</label>&nbsp;
                            <label class="queryTradeType"></label>
                        </div>
                        <div>
                            <label>区服:</label>&nbsp;
                            <label class="queryQufu"></label>
                        </div>
                        <div>
                            <label>门派:</label>&nbsp;
                            <label class="queryMenpai"></label>
                        </div>
                        <div>
                            <label>体型:</label>&nbsp;
                            <label class="queryTixin"></label>
                        </div>
                        <div>
                            <label>发型:</label>&nbsp;
                            <label class="queryFaxin"></label>
                        </div>
                        <div>
                            <label>盒子:</label>&nbsp;
                            <label class="queryHezi"></label>
                        </div>
                        <div>
                            <label>披风:</label>&nbsp;
                            <label class="queryPifeng"></label>
                        </div>
                        <div>
                            <label>五限:</label>&nbsp;
                            <label class="queryWuxian"></label>
                        </div>
                        <div>
                            <label>六限:</label>&nbsp;
                            <label class="queryLiuxian"></label>
                        </div>
                        <div>
                            <label>成衣:</label>&nbsp;
                            <label class="queryCY"></label>
                        </div>
                        <div>
                            <label>奇遇:</label>&nbsp;
                            <label class="queryQiyu"></label>
                        </div>
                        <div>
                            <label>橙武:</label>&nbsp;
                            <label class="queryChengwu"></label>
                        </div>
                        <div>
                            <label>挂件:</label>&nbsp;
                            <label class="queryGuanjian"></label>
                        </div>
                        <div>
                            <label>价格:</label>&nbsp;
                            <label class="queryPrice"></label>
                        </div>
                        <div>
                            <label>其他:</label>&nbsp;
                            <label class="queryInfo"></label>
                        </div>
                        <br>
                        <div>
                            <label>搜索方案名:</label>&nbsp;
                            <input type="text" class="fanganName" style="height: 36px"/>
                        </div>
                    </div>
                    <div class="delQuery" style="display: none">
                        <div>
                            <table class="delQueryTable">
                                <thead>
                                <tr>
                                    <th style="width: 12%">搜索方案</th>
                                    <th>搜索方案名</th>
                                    <th style="width: 12%;">操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="sureKeepBtn">保存</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
</body>
<script type="text/javascript">
    $('.table-th').click(function () {
        if($(this).children('.sort').length>0){
            $(this).children('.sort').toggleClass('active');
        }
    });
    $().ready(function(e) {
        $(".s_top ul li").click(function(){
            var listindex=$(".s_top ul li").index(this)
            $(".s_top ul li").removeClass('cur');
            $(this).addClass('cur')
            $(".show0,.show1").hide();
            $('.show'+listindex).show()
        });
        $(".nav-pills ul li").click(function(){
            var sefont=$(this).find('a').text();
            $(this).parents('.nav-pills').find('.dropdown-toggle').html(sefont+'<b class="caret"></b>')
        });
    });
</script>
</html>
