<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="keywords" content="剑网三交易,剑网3,剑网三,剑网三账号,剑三金币">
    <meta name="discription" content="剑三交易快速搜索">
    <title>剑三黑榜-爱剑三</title>
    <link rel="icon" th:href="@{/dist/css/icon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/jx3/base.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/jx3/drop.css}">
    <script th:src="@{/dist/js/jx3/jquery.js}"></script>
    <script th:src="@{/dist/js/jx3/base.js}"></script>
    <script th:src="@{/dist/js/jx3/dropdown.js}"></script>
    <script th:src="@{/dist/js/layer/layer.js}"></script>
    <script th:src="@{/dist/js/page/utils.js}"></script>
    <script th:src="@{/dist/js/page/blackDetail.js}"></script>
</head>

<body>
<!-- top logo -->
<div class="topLogo"><img th:src="@{/dist/css/images/jx3/logo_2.png}" /></div><div class="contactUs" style="position: absolute;top: 6px;right: 100px">   </div>
<div id="userName" style="display: none">[[${#httpServletRequest.remoteUser}]]</div>
<!-- navigation -->
<div class="navCon">
    <div class="nav"><a href="index">首页</a><a href="accountList">账号搜索</a><a href="appearanceSale" class="cur">外观搜索</a><a href="propSale">道具搜索</a><!-- <a href="goldExchangeList">金币收售</a> --><a href="levelingList">代练代打</a><a href="blackList">剑三黑榜</a><a href="dataAndSecurity">用户中心</a><a class="last" href="login">登录 / 注册</a><a id="userDetails" href="javascript:void(0)" style="display: none">[[${#httpServletRequest.remoteUser}]]</a><a href="javascript:void(0)" id="exitUser" style="display: none;">            <form th:action="@{/logout}" method="post">                <input type="submit" class="btn btn-primary exit" value="退出"/>            </form>        </a>        <img class="gift" th:src="@{/dist/css/images/jx3/gift.png}"></div>
</div>
<div id="maincontent">
 <div id="mcon">

<!-- top content -->
<div class="topContent">
  <!-- Convenient entrance -->
  <div class="searchcon">
   <div class="s_top">
     <ul>
      <li class="cur">黑鬼详情</li>
     </ul>
      <!-- <div class="clear"></div>
       <div class="sline"></div>-->
   </div>
   <div class="searchinput">
   <div class="logincon searccon levecon">
     <div class="account">
         <div class="td">
             <div class="rightcon">
                 <div class="title">
                 </div>
                 <table class="mt15">
                     <tr>
                         <td align="right" class="wr ft1">欺诈类型：</td>
                         <td colspan="7">外观交易诈骗</td>
                     </tr>
                     <tr>
                         <td align="right" class="wr ft1">涉事区服：</td>
                         <td colspan="7">电五双梦</td>
                     </tr>
                     <tr>
                         <td align="right" class="wr ft1">门派体型：</td>
                         <td colspan="7">纯阳</td>
                     </tr>
                     <tr>
                         <td align="right" class="wr ft1">角色名：</td>
                         <td colspan="7">XXXX</td>
                     </tr>
                     <tr>
                         <td align="right" class="wr ft1">被黑经历：</td>
                         <td colspan="7">2017年3月10日，电五双梦纯阳XXXX，说要交易外观，结果收钱跑路，被骗3000R</td>
                     </tr>
                     <tr>
                         <td align="right" class="wr ft1">资料信息：</td>
                         <td colspan="7">黑鬼资料： 身份证：450845199101012323  支付宝：abcdeae@163.com  手机号：15454513214 微信号：115715_aqc  QQ号：7874677585   YY号：844412 </td>
                     </tr>
                     <tr>
                     </tr>
                     </table>
                 </div>
             </div>
     </div>
    </div>
   </div>
  </div>
  <div class="searchcon">
   <div class="s_top">
     
     <ul>
      <li class="cur">游戏截图</li>
     </ul>
     <div class="clear"></div>
     <div class="sline"></div>
   </div>
   <div class="searchinput">
   <div class="logincon searccon levecon">
     <div class="account1">
       <div class="bigimgs"><img th:src="@{/dist/css/images/nopicture.jpg}" /></div>
       <div class="scrollcon"><img class="lefttg" th:src="@{/dist/css/images/jx3/right.png}" width="47" height="147" /><img  class="righttg"  th:src="@{/dist/css/images/jx3/right0.png}" width="47" height="147" />
         <div class="scrollimg"><img class="cur moveimg" th:src="@{/dist/css/images/jx3/game01.jpg}" /><img th:src="@{/dist/css/images/jx3/game02.jpg}" /><img th:src="@{/dist/css/images/jx3/game03.jpg}" /><img th:src="@{/dist/css/images/jx3/game04.jpg}" /><img th:src="@{/dist/css/images/jx3/game02.jpg}" /><img th:src="@{/dist/css/images/jx3/game03.jpg}" /></div>
       </div>
     </div>
    </div>
   </div>
  </div>
</div>
</div></div>
<!-- foot -->
<div class="footcontent">
    <a href="aboutUs">关于我们</a> | <a href="servicePetorl">服务协议</a> | <a href="questions">常见问题</a><br>
    <div>Powered by 爱剑三  © 2014-2018 Inc.       鄂ICP备17024657号</div>
    <div>QQ群：296733805</div>
</div>
</body>
<script type="text/javascript">
$().ready(function(e) {
    $(".s_top ul li").click(function(){
		$(".s_top ul li").removeClass('cur');
		var listindex=$(".s_top ul li").index(this);
		$(this).addClass('cur')
		$('.account1,.account2').hide();
		$('.account'+(listindex+1)).show();
	})
	$(".scrollimg img").click(function(){
		$(".scrollimg img").removeClass('cur')
		$(this).addClass('cur')
		$(".bigimgs img").attr("src",$(this).attr('src').replace('/','/b'))
	})
	var startnum=0;
	var imglen=$(".scrollimg img").length;
	$(".lefttg").click(function(){
		if(startnum==0) return;
		startnum++;
		$('.moveimg').css("margin-left",startnum*270+"px")
	})
	$(".righttg").click(function(){
		if(startnum<(4-imglen)) return;
		startnum--;
		$('.moveimg').css("margin-left",startnum*270+"px")
	})
});
</script>
</html>
