<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
 <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
 <meta name="keywords" content="剑网三交易,剑网3,剑网三,剑网三账号,剑三金币">
 <meta name="discription" content="剑三交易快速搜索">
 <title>会员注册-爱剑三</title>
 <link rel="icon" th:href="@{/dist/css/icon.ico}" type="image/x-icon">
 <link rel="stylesheet" type="text/css" th:href="@{/dist/css/jx3/base.css}">
 <script th:src="@{/dist/js/jx3/jquery.js}"></script>
 <script th:src="@{/dist/js/jx3/base.js}"></script>
    <script th:src="@{/dist/js/layer/layer.js}"></script>
    <script th:src="@{/dist/js/page/utils.js}"></script>
    <script th:src="@{/dist/js/page/register.js}"></script>
 <style>
  .checkbox {
   width: 50%;
   margin-left: 96px;
  }
  .checkbox a {
   margin-left: 10px;
  }
  #checkNum{
   cursor: pointer;
  }
 </style>
</head>
<body>
<!-- top logo -->
<div class="topLogo"><img th:src="@{/dist/css/images/jx3/logo_2.png}" /></div><div class="contactUs" style="position: absolute;top: 6px;right: 100px">   </div>
<!-- navigation -->
<div class="navCon">
 <div class="nav"><a href="index" class="cur">首页</a><a href="accountList">账号搜索</a><a href="appearanceSale">外观搜索</a><a href="propSale">道具搜索</a><!-- <a href="goldExchangeList">金币收售</a> --><a href="levelingList">代练代打</a><a href="blackList">剑三黑榜</a><a href="quickRelease">用户中心</a><a class="last" href="login">登录 / 注册</a><a href="javascript:void(0)" id="exitUser" style="display: none;">            <form th:action="@{/logout}" method="post">                <input type="submit" class="btn btn-primary exit" value="退出"/>            </form>        </a>        <img class="gift" th:src="@{/dist/css/images/jx3/gift.png}"></div>
</div>
<div id="maincontent">
 <div id="mcon">
 <!-- login content -->
 <div class="login">
  <div class="inputcon">
    <img class="contopimg" th:src="@{/dist/css/images/jx3/loginimg.png}" />
    <div class="logincon">
     <div class="title">会员注册</div>
     <table width="100%">
      <tr>
       <td class="wr ft1" >账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：</td>
       <td><input type="text"  id="loginName" placeholder="请输入" /></td>
       <td class="ft2">6字符以上，限数字、字母、下划线组成，不分大小写</td>
      </tr>
      <tr>
       <td class="wr ft1" >昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：</td>
       <td><input type="text" id="userName" placeholder="请输入" /></td>
       <td class="ft2">仅限简单汉字</td>
      </tr>
      <tr>
       <td class="wr ft1" >密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：</td>
       <td><input type="password" id="loginWord" placeholder="请输入" /></td>
       <td class="ft2">4-16位的密码</td>
      </tr>
      <tr>
       <td class="wr ft1" >确认密码：</td>
       <td><input type="password" id="loginWordSure" placeholder="请输入" /></td>
       <td class="ft2">请再次输入上面的密码</td>
      </tr>
      <tr>
       <td class="wr ft1" >手&nbsp;&nbsp;机&nbsp;&nbsp;号：</td>
       <td><input type="text" id="tel" placeholder="请输入" /></td>
       <td class="ft2" ><img th:src="@{/dist/css/images/jx3/getcode.png}" id="checkNum"/><span id="getcodetime"></span></td>
      </tr>
      <tr><td></td><td  colspan="2">(暂不支持海外手机号,请联系管理员手动创建账号！)</td></tr>
      <tr>
       <td class="wr ft1" >验&nbsp;&nbsp;证&nbsp;&nbsp;码：</td>
       <td><input type="text" id="sureFerry" placeholder="请输入" /></td>
       <td class="ft2" id="checkResult"></td>
      </tr>
      <tr>
       <td>
        <a href="servicePetorl.html"target='_blank' class="servicePetorl">用户协议</a>
       </td>
       <td colspan="3">
        <div class="checkbox">
         <label>
          <input type="checkbox" style="width: 14px;vertical-align: middle;margin-right: 5px;" checked="checked">我已阅读并同意<a href=""></a>
         </label>
        </div>
       </td>
      </tr>
      <tr>
       <td class="wr ft1"></td>
       <td><a href="javascript:void(0);" id="addUser"><img th:src="@{/dist/css/images/jx3/register-btn.png}" /></a></td>
       <td></td>
      </tr>
     </table>
    </div>
  </div>
 </div>
 </div>
</div>
<!-- foot -->
<div class="footcontent">
 <a href="aboutUs">关于我们</a> | <a href="servicePetorl">服务协议</a> | <a href="questions">常见问题</a><br>
 <div>Powered by 爱剑三  © 2014-2018 Inc.       鄂ICP备17024657号</div>
 <div>QQ群：296733805</div>
</div>
</body>
</html>
